In [12]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score 
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score
from sklearn.metrics import balanced_accuracy_score 
from sklearn.metrics import cohen_kappa_score
import pandas as pd
import numpy as np

In [7]:
arr1 = np.empty(100)
arr1.fill(1)
arr2 = np.empty(100)
arr2.fill(1)
arr1[50] = 2
accuracy_score(arr1, arr2)

0.99

In [9]:
y_true = [0, 0, 1, 1, 1, 1, 0, 1]
y_pred = [0, 1, 0, 0, 1, 1, 0, 1]
f1_score(y_true, y_pred)

0.6666666666666665

In [10]:
y_true = [0, 0, 1, 0, 0, 1, 0]
y_pred = [1, 1, 1, 0, 1, 1, 0]
precision_score(y_true, y_pred)

0.4

In [11]:
y_true = [0, 0, 1, 0, 0, 1, 0]
y_pred = [1, 1, 1, 0, 1, 1, 0]
recall_score(y_true, y_pred)

1.0

In [29]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
vis_data = pd.read_csv("./data/voiceDataSet.csv", encoding = 'ISO-8859-1', low_memory = False)
vis_data.head()

,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,sfm,...,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx,label
0,0.059781,0.064241,0.032027,0.015071,0.090193,0.075122,12.863462,274.402906,0.893369,0.491918,...,0.059781,0.084279,0.015702,0.275862,0.007812,0.007812,0.007812,0.000000,0.000000,male
1,0.066009,0.067310,0.040229,0.019414,0.092666,0.073252,22.423285,634.613855,0.892193,0.513724,...,0.066009,0.107937,0.015826,0.250000,0.009014,0.007812,0.054688,0.046875,0.052632,male
2,0.077316,0.083829,0.036718,0.008701,0.131908,0.123207,30.757155,1024.927705,0.846389,0.478905,...,0.077316,0.098706,0.015656,0.271186,0.007990,0.007812,0.015625,0.007812,0.046512,male
3,0.151228,0.072111,0.158011,0.096582,0.207955,0.111374,1.232831,4.177296,0.963322,0.727232,...,0.151228,0.088965,0.017798,0.250000,0.201497,0.007812,0.562500,0.554688,0.247119,male
4,0.135120,0.079146,0.124656,0.078720,0.206045,0.127325,1.101174,4.333713,0.971955,0.783568,...,0.135120,0.106398,0.016931,0.266667,0.712812,0.007812,5.484375,5.476562,0.208274,male

In [35]:
df = vis_data.copy()
df.dropna(axis=0, inplace=True)
X = df.drop(['label'], axis=1)
y = df['label'].apply(lambda x: 1 if x == "male" else 0)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=42)

# Preprocessing X
scaler = StandardScaler()
X_train_transformed = scaler.fit_transform(X_train)
X_test_transformed = scaler.transform(X_test)

# Train model
model = LogisticRegression().fit(X_train_transformed, y_train)

# Get the prediction
y_pred = model.predict(X_test_transformed)

# Calculation MSE
acc = accuracy_score(y_test, y_pred)
print(f'ACCURACY = {acc}')

ACCURACY = 0.9726603575184016

In [36]:
vis_data = pd.read_csv("./data/glass.csv", encoding = 'ISO-8859-1', low_memory = False)
vis_data.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [39]:
vis_data['Type'].unique()

array([1, 2, 3, 5, 6, 7])

In [45]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score, KFold

df = vis_data.copy()
df.dropna(axis=0, inplace=True)
X = df.drop(['Type'], axis=1)
y = df['Type']

model=KNeighborsClassifier(n_neighbors=3)
kf = KFold(n_splits=10)
pred = cross_val_score(model, X, y, cv=kf, scoring="accuracy")
print(f'MEAN = {np.mean(pred)}')

MEAN = 0.5257575757575758

In [47]:
vis_data = pd.read_csv("./data/heart_fin1.csv", sep=';', encoding = 'ISO-8859-1', low_memory = False)
vis_data.head()

   age  sex  cp  trestbps  chol  restecg  thalach  exang  oldpeak  target
0   63    1   3       145   233        0      150      0      2.3       1
1   37    1   2       130   250        1      187      0      3.5       1
2   41    0   1       130   204        0      172      0      1.4       1
3   56    1   1       120   236        1      178      0      0.8       1
4   57    0   0       120   354        1      163      1      0.6       1

In [134]:
desc = vis_data.describe()
desc

,age,sex,cp,trestbps,chol,restecg,thalach,exang,oldpeak,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.528053,149.646865,0.326733,1.039604,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.525860,22.905161,0.469794,1.161075,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,71.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,133.500000,0.000000,0.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,1.000000,153.000000,0.000000,0.800000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,1.000000,166.000000,1.000000,1.600000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,2.000000,202.000000,1.000000,6.200000,1.000000

In [157]:
intq_range = desc.apply(lambda x: x['25%'] - (x['75%'] - x['25%'])*1.5)
intq_range

age          27.25
sex          -1.50
cp           -3.00
trestbps     90.00
chol        115.75
restecg      -1.50
thalach      84.75
exang        -1.50
oldpeak      -2.40
target       -1.50
dtype: float64

In [156]:
df = vis_data.copy()
df.apply(lambda x: x if intq_range[x.name] else x)

     age  sex  cp  trestbps  chol  restecg  thalach  exang  oldpeak  target
0     63    1   3       145   233        0      150      0      2.3       1
1     37    1   2       130   250        1      187      0      3.5       1
2     41    0   1       130   204        0      172      0      1.4       1
3     56    1   1       120   236        1      178      0      0.8       1
4     57    0   0       120   354        1      163      1      0.6       1
..   ...  ...  ..       ...   ...      ...      ...    ...      ...     ...
298   57    0   0       140   241        1      123      1      0.2       0
299   45    1   3       110   264        1      132      0      1.2       0
300   68    1   0       144   193        1      141      0      3.4       0
301   57    1   0       130   131        1      115      1      1.2       0
302   57    0   1       130   236        0      174      0      0.0       0

[303 rows x 10 columns]

In [106]:
perday = 48
persnum = 2
nights = 30
income = nights*perday
comm = .15
vat = .15
notax = income*comm
tax = .5
total = notax+notax*vat
swift = 8
swcomm = max(10, total*.05)
alltax = persnum*tax*nights
addexp = 0#15
expn = total+swift+swcomm+alltax+addexp
prof = income - expn
profperc = expn/income
print(f'profit = ${prof:.2f}, expense = ${expn:.2f}, percentage = {profperc*100:.2f}%')
print(f'\nincome = ${income:.2f}\ncommission = ${total:.2f}\nswift commission = ${swcomm:.2f}\nswift = ${swift:.2f}\ntax = ${alltax:.2f}\naddnl expenses = ${addexp:.2f}')
print(f'prof per day = ${prof/nights:.2f}')

profit = $1141.18, expense = $298.82, percentage = 20.75%

income = $1440.00
commission = $248.40
swift commission = $12.42
swift = $8.00
tax = $30.00
addnl expenses = $0.00
prof per day = $38.04

In [178]:
import matplotlib.pyplot as plt
df = vis_data.copy()

def checkIfOut(ser):
    IQR = ser.quantile(0.75) - ser.quantile(0.25)
    perc25 = ser.quantile(0.25)
    perc75 = ser.quantile(0.75)
    lowerBorder = perc25 - 1.5*IQR
    upperBorder = perc75 + 1.5*IQR

    ser = ser.apply(lambda x: None if x < lowerBorder or x > upperBorder else x)
    # print(
    # '25-й перцентиль: {},'.format(perc25),
    # '75-й перцентиль: {},'.format(perc75),
    # "IQR: {}, ".format(IQR),
    # "Границы выбросов: [{f}, {l}].".format(f=lowerBorder, l=upperBorder))
    return ser

newdf = df.apply(lambda x: checkIfOut(x))
newdf.dropna(axis=0, inplace=True)
newdf.describe()

,age,sex,cp,trestbps,chol,restecg,thalach,exang,oldpeak,target
count,284.000000,284.000000,284.000000,284.000000,284.000000,284.000000,284.000000,284.000000,284.000000,284.000000
mean,53.992958,0.700704,0.989437,129.911972,242.077465,0.524648,150.042254,0.316901,0.948592,0.559859
std,9.161678,0.458758,1.031258,15.368133,44.753834,0.514206,22.692716,0.466090,1.026141,0.497280
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,88.000000,0.000000,0.000000,0.000000
25%,46.750000,0.000000,0.000000,120.000000,209.750000,0.000000,133.750000,0.000000,0.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,239.000000,1.000000,153.000000,0.000000,0.600000,1.000000
75%,60.000000,1.000000,2.000000,140.000000,270.250000,1.000000,168.000000,1.000000,1.600000,1.000000
max,77.000000,1.000000,3.000000,170.000000,360.000000,2.000000,202.000000,1.000000,4.000000,1.000000

In [201]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import roc_auc_score

df = newdf.copy()
X = df.drop(['target'], axis=1)
y = df['target']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=5)

lr = LogisticRegression(max_iter=1000)
lr.fit(X_train, y_train)
y_pred = lr.predict_proba(X_test)[:, 1]
print(roc_auc_score(y_test, y_pred))

model = KNeighborsClassifier(n_neighbors = 3)
kf = KFold(n_splits = 10)
model.fit(X_train, y_train)
y_pred = model.predict_proba(X_test)[:, 1]
print(roc_auc_score(y_test,y_pred))

0.8160173160173161
0.6547619047619049

In [203]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
vis_data = pd.read_csv("./data/train.csv", encoding = 'ISO-8859-1', low_memory = False)

In [206]:
df = vis_data[['fine_amount', 'state_fee', 'late_fee', 'discount_amount', 'balance_due', 'compliance']]
df.dropna(axis=0, inplace=True)
X = df.drop('compliance', axis=1)
y = df['compliance']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle=False)
clf = DecisionTreeClassifier(random_state=23)
clf.fit(X_train, y_train)

y_pred = clf.predict(X_train)
f1_train = f1_score(y_train, y_pred)
print('[train] F1-score = {:.2f}'.format(f1_train))

y_pred = clf.predict(X_test)
f1_val = f1_score(y_test, y_pred)
print('[valid] F1-score = {:.2f}'.format(f1_val))

/var/folders/ww/67t1k6ss6bqfd8tw6ntmpfgm0000gn/T/ipykernel_78776/3069312276.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(axis=0, inplace=True)

[train] F1-score = 0.66
[valid] F1-score = 0.58

In [207]:
f1_train - f1_val

0.08055341409051786

In [250]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split, StratifiedShuffleSplit
from sklearn.metrics import f1_score, accuracy_score
vis_data = pd.read_csv("./data/train.csv", encoding = 'ISO-8859-1', low_memory = False)
# Напишите ваш код ниже

In [252]:
df = vis_data[['fine_amount', 'state_fee', 'late_fee', 'discount_amount', 'balance_due', 'compliance']]
df.dropna(axis=0, inplace=True)
X = df.drop('compliance', axis=1)
y = df['compliance']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle=False)
clf = DecisionTreeClassifier(random_state=23)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_train)
f1_train = f1_score(y_train, y_pred)
y_pred = clf.predict(X_test)
f1_val = f1_score(y_test, y_pred)
f1_train, f1_val

/var/folders/ww/67t1k6ss6bqfd8tw6ntmpfgm0000gn/T/ipykernel_78776/3999671811.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(axis=0, inplace=True)

(0.6607803184665308, 0.580226904376013)

In [257]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split, StratifiedShuffleSplit
from sklearn.metrics import f1_score, accuracy_score

vis_data = pd.read_csv("./data/train.csv", encoding = 'ISO-8859-1', low_memory = False)
# Напишите ваш код ниже
vis_data = vis_data[['fine_amount', 'state_fee', 'late_fee', 'discount_amount', 'balance_due', 'compliance']]
vis_data = vis_data.dropna()
X_train, X_test, Y_train, Y_test = train_test_split(vis_data.iloc[:,0:-1], vis_data.iloc[:,-1], test_size=0.3, shuffle=False)
clf = DecisionTreeClassifier(random_state=23)
clf.fit(X_train, Y_train)
y_pred = clf.predict(X_test)
f_test = f1_score(Y_test, y_pred)
y_pred2 = clf.predict(X_train)
f_train = f1_score(Y_train, y_pred2)
n = vis_data.compliance.value_counts()[1]
vis_data_1 = vis_data[(vis_data.compliance == 1)]
vis_data_plus = vis_data[(vis_data.compliance == 0)].iloc[0:n]
df = pd.concat([vis_data_plus, vis_data_1], axis=0, ignore_index=True)
X_train, X_test, Y_train, Y_test = train_test_split(df.iloc[:,0:-1], df.iloc[:,-1], test_size=0.3, shuffle=False)
clf = DecisionTreeClassifier(random_state=23)
clf.fit(X_train, Y_train)
y_pred = clf.predict(X_test)
f_test2 = f1_score(Y_test, y_pred)
result = f_test2-f_test
result

0.18272749967696011

In [258]:
f_test2, f_test

(0.7629544040529731, 0.580226904376013)